version: '3'
services:

  mongodb:
    image: mongo
    container_name: mongo
    restart: unless-stopped
    command: mongod --auth
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongodbuser
      MONGO_INITDB_ROOT_PASSWORD: xttEUxNcG7kyxkmvd6PKcoGxZt5pGC8K
      MONGO_INITDB_DATABASE: CaffDatabase
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
      - ./mongoinit:/docker-entrypoint-initdb.d/:ro
    networks:
      backend:
        ipv4_address: 172.25.0.2

  flask:
    build:
      context: flaskapp
      dockerfile: Dockerfile
    container_name: flask
    restart: unless-stopped
    environment:
      APP_ENV: "prod"
      APP_DEBUG: "True"
      APP_PORT: 5000
      MONGODB_DATABASE: CaffDatabase
      MONGODB_USERNAME: flaskuser
      MONGODB_PASSWORD: aGfuEXJRYwBgDEmo8aXK8wY2sCkwQ9N6
      MONGODB_HOSTNAME: mongodb
      MONGODB_PORT: 27017
      PYTHONPATH: $PYTHONPATH:/var/www
      FLASKTEST_PATH: /var/www/test
      MONGOINIT_PATH: /var/www/mongoinit
    volumes:
      - ./flaskapp:/var/www/flaskapp
      - ./test:/var/www/test
      - ./mongoinit:/var/www/mongoinit
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
      - redis
    networks:
      backend:
        ipv4_address: 172.25.0.3

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - redisdata:/opt/redis
    networks:
      backend:
        ipv4_address: 172.25.0.4

  webserver:
    build:
      context: nginx
      dockerfile: Dockerfile
    container_name: webserver
    restart: unless-stopped
    environment:
      APP_ENV: "prod"
      APP_NAME: "webserver"
      APP_DEBUG: "true"
      SERVICE_NAME: "webserver"
    ports:
      - "8080:8080"
    volumes:
      - nginxdata:/var/log/nginx
      - ./cert:/etc/nginx/certs
    depends_on:
      - flask
    networks:
      frontend:
        ipv4_address: 172.26.0.2
      backend:
        ipv4_address: 172.25.0.5

networks:
  frontend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.26.0.0/16
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16

volumes:
  mongodata:
    driver: local
  nginxdata:
    driver: local
  redisdata:
    driver: local